.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}
.name, .email, .message {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}
input[type="text"], input[type="email"], textarea {
  width: 70%;
  padding: 10px;
  margin-left: auto;
  box-sizing: border-box;
  border: 1px solid #72717175;
  border-radius: 5px;

}
.message_box {
  height: 150px;
  resize: vertical;
} 
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.submit {
  background-color: #000000;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  align-items: center;
}
.clear {
  background-color: #808080;
  width: 80px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  align-items: center;
}
.errorMessage {
  margin-bottom: 0;
  margin-left: 30%;
  font-size: 14px;
  color: rgb(143, 13, 13);
} 
